.register-container {
  width: 500px;
  margin: 100px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.register-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-input,
.otp-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.register-input {
  width: 100%;
}

.register-button {
  background-color: #fda63c !important;
  color: white !important;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

.register-button:hover {
  background-color: #f7941e !important;
}

.register-or {
  margin: 20px 0;
  color: #888;
  font-size: 14px;
  position: relative;
}

.register-or span {
  background-color: #f9f9f9;
  padding: 0 10px;
}

.register-or:before,
.register-or:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background-color: #ddd;
}

.register-or:before {
  left: 0;
}

.register-or:after {
  right: 0;
}

.register-social {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.social-button {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.facebook-button {
  background-color: #3b5998;
  color: white;
}

.google-button {
  background-color: #db4437;
  color: white;
}

.register-login-link {
  margin-top: 20px;
  font-size: 14px;
  color: #888;
}

.register-login-link span {
  color: #f7941e;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.register-login-link span:hover {
  text-decoration: underline;
}

.input-code-container {
  display: flex;
  align-items: center;
  /* border: 1px solid #ccc; */
  /* border-radius: 8px; */
  overflow: hidden;
  width: 100%;
  /* Chiều rộng container */
  background-color: #fff;
  justify-content: space-between;
}

.input-code {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #fff;
  /* Đồng bộ với nền container */
}

.send-code-button {
  padding: 10px 15px;
  font-size: 16px;
  /* background-color: #e0e0e0; */
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-left: 1px solid #ccc;
  transition: all 0.3s;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.send-code-button:hover {
  background-color: #f7941e !important;
  color: #fff;
}

.success-message {
  color: green;
  font-size: 14px;
  margin-top: 10px;
}

.bgSignup {
  background-image: url(/public/images/bgbook.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  width: 100%;
  height: 100vh; /* 👈 Thêm dòng này */
}

.boxCenter {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
