.profile-page {
  /* display: flex;
    flex-direction: column; */
  /* min-height: 100vh; */
  /* margin-top: 250px !important; */
  margin-bottom: 20px;
}

.profile-section {
  width: 1200px;
  margin: 0 auto;
  margin-top: 170px;
  flex: 1;
  display: flex;
  justify-content: center;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.profile-sidebar {
  width: 20%;
  padding: 10px;
  /* background-color: #666; */
}

.profile-sidebar h3 {
  color: #e89922;
  margin-bottom: 10px;
}

.profile-sidebar ul {
  list-style-type: none;
  padding: 0;
  font-size: 17px;
  color: #333;
}

.profile-sidebar li {
  margin: 8px 0;
  cursor: pointer;
}
.profile-sidebar li:hover {
  color: #ed4d2d;
}

.profile-content {
  width: 80%;
  background-color: #fff;
  padding: 20px;
  /* margin-left: 320px; */
}

.profile-title {
  font-size: 25px;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Courier, monospace; */
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #333;
}

.profile-subtitle {
  font-size: 14px;
  color: #666;
  padding-bottom: 15px;
  border-bottom: 1px solid #c0c0c0;
}

.profile-form {
  /* display: grid;
    grid-template-columns: 1fr 1fr; */
  width: 100%;
}

.profile-form-group {
  display: flex;
  align-items: center;
  margin: 20px 0;
  /* flex-direction: column; */
}

.profile-form-group label {
  font-size: 15px;
  color: #858585;
  width: 120px;
}

.profile-input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #555;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.winput {
  width: 100%;
}
.profile-gender-options {
  display: flex;
  gap: 10px;
  align-items: center;
}

.save-button {
  grid-column: span 2;
  padding: 12px;
  font-size: 16px;
  background-color: #ed4d2d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 120px;
  margin-top: 20px;
  margin-left: 120px;
}

.save-button:hover {
  background-color: #fe6d4c;
}

.profile-image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-left: 1px solid #ddd;
  padding-left: 20px;
}

.profile-image-placeholder {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border-radius: 50%;
  margin-bottom: 10px;
}

.choose-image-button {
  padding: 8px 12px;
  font-size: 14px;
  color: #555;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.image-info {
  font-size: 12px;
  color: #888;
  text-align: center;
  margin-top: 10px;
}
.profile-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.profile-sidebar li {
  margin: 10px 0;
}

.sidebar-link {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.sidebar-link:hover {
  color: #e89922; /* Màu cam khi hover */
  text-decoration: underline;
}

.profile-sidebar-user {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
}
.profile-sidebar-user img {
  width: 28%;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-sidebar-user-text {
  font-size: 16px;
  width: 70%;
}
.profile-sidebar-user-text div {
  display: flex;
  align-items: center;
  color: #777;
  cursor: pointer;
}
.profile-sidebar-user-text strong {
  display: block;
  width: 150px;
  height: 25px;
  overflow: hidden;
}
.profile-sidebar-user-text div p {
  margin-left: 5px;
}
.icon-user {
  width: 20px;
  margin-right: 10px;
}
.li_active {
  color: #ed4d2d;
}
.profile-user {
  width: 70%;
  padding-right: 20px;
  border-right: 1px solid #e1e1e1;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.profile-user-img {
  width: 30%;
  text-align: center;
  margin-top: 40px;
}
.profile-user-img img {
  width: 50%;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-user-img button {
  padding: 6px 20px;
  border: 1px solid #b3b3b3 !important;
  color: #777;
  border-radius: 3px;
  font-size: 15px;
  background-color: #fff;
  margin-top: 12px;
}
.profile-user-img p {
  font-size: 16px;
  margin-top: 10px;
  color: #888;
}

.voucher-user h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.voucher-user_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
}

.voucher-user_item {
  width: 100%;
  text-align: center;
  border: 1px solid #ccc;
  /* border-radius: 8px;  */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.cursor{
  cursor: pointer;
  top: 0;
  transition: all .2s ease-in-out;
}

.cursor:hover{
  top: -5px;
}

.voucher-user_item::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 1; 
}


.voucher-user_item-hover::after {
  background-color: rgba(85, 85, 85, 0.1); 
}

.voucher-user_item img {
  width: 30%;
  height: 130px;
  object-fit: cover;
  border-right: 1px dashed #ccc;
}
.voucher-user_item_info {
  padding: 10px;
  text-align: left;
  font-size: 14px;
}
.voucher-user_item_info p:nth-child(1) {
  font-size: 17px;
  font-family: "ABeeZee", sans-serif;
  color: #ed4d2d;
}
.voucher-user_item_info p:nth-child(4) {
  color: #acacac;
}
.voucher-user_item_sld {
  background-color: #fcecea;
  color: #ed4d2d;
  position: absolute;
  right: 0;
  top: 45px;
  padding: 3px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 13px;
}

.voucher-user_item_xoa:hover{
  background-color: #333;
}

.voucher-user_item_conhan {
  background-color: #c0f3dba1;
  color: #0aac68;
  position: absolute;
  right: 0;
  top: 10px;
  padding: 3px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 13px;
  cursor: pointer;
}

.voucher-user_item_hethan {
  background-color: #fcecea;
  color: #ed4d2d;
  position: absolute;
  right: 0;
  top: 10px;
  padding: 3px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 13px;
}


.hidden-input {
  display: none;
}

.upload-label {
  margin-top: 10px;
  display: inline-block;
  padding: 5px 10px;
  background: #fff;
  color: #e3621c;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
  border: 1px solid #e3621c;
}

.upload-label:hover {
  background: #e3621c;
  color: #fff;
}

.voucher-delete{
  background-color: #f5beb6;
  color: #ed4d2d;
  position: absolute;
  top: 7px;
  left: 7px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.voucher-delete:hover{
  color: black;
}

.voucher-deleteIcon{
  font-size: 12px;
  padding: 4px 5px;
}